{%extends 'profile.html'%}
{%block title%}
    <title>ADMIN | ADD BOOK</title>
{%endblock%}
{%block content%}

    <div class="container">
        <div class="jumbotron bg-dark text-white">
            <h3>ADD NEW REVIEW!</h3><br>
            <form method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <table>
                    {{form.as_table}}
                </table><br>
                <input type="submit" value="POST REVIEW" class="btn btn-success">
                <a href="" class="btn btn-primary">SAVE TO DRAFT</a>
            </form>
        </div>
    </div>

{%endblock%}